<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
          <h1 class="text-center main-heading">About Us</h1>
          <p class="text-center sub-heading">grow your business with us</p>
          <div class="row">
            <div class="col-md-6 col-12 hero-text ">
              <figure>
                <img src="images/about1.jpg" alt="herosectionimage" width="400px" height="400px" >
              </figure>
             </div>
            {{!-- right side --}}

            <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
              <h1>WE ARE THE PROFESSIONAL DEVELOPER</h1>
              
              <p>We are the team of <span class="bold-style">Developer</span>Your Number One Source For All things.We are Dedicated To Giving You The very Best Of Work with a Focus On Three Characteristic i.e Dependability,Customer and Uniqueness</p>
              <button class="btn-style btn-primary">Read More</button>

            </div>
            
          </div>

        </div>
    </div>
    
</div>