<div class="container-fluid mt-5 contact-style" id="Mapid">
    <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <h1 class="text-center main-heading">Locate  us</h1>
      {{!-- <p class="text-center sub-heading">we will be happy to help you </p> --}}
    </div>
    </div>
</div>
<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3818.7795074669975!2d81.53613057427982!3d16.83729111842094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a37b3096fd663bd%3A0xd27d9c8da8e90087!2sNIT%20AP%20front%20gate!5e0!3m2!1sen!2sin!4v1691934630355!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>